<div id="boilerplate">
    <div id="boilertext">
        <h1>FuScholar</h1>
        <h3>Index of Scholarships and Universities hosting Computer Science courses</h3>
        <button type="button" class="btn btn-outline-success">Go to Index</button>
    </div>
</div>