<div class="bg-fudark" style="margin-top: 10vh;">
    <div class="container align-center" style="color: white; align-items: center; margin: auto;">
        <div class="row">
            <div class="col-6">
                <br>
                <h6>Ranking provided by: <a href="http://www.usnews.com" target="_blank" style="color: white; text-decoration: none;">USNews</a></h6>
                <h6>Contact us:</h6>
                <p>Ali: +69 11-4324 4594</p>
                <p>No. 3, <br>Jalan Menegak, <br>69420 Kuantan, <br>Selayang, <br>Malaysia</p>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
    
