<%- include('partials/head') %>

</head>

<body>
    <button id="sort-list">Click me!</button>

    <ul id="index-list">
        <li>America</li>
        <li>Brieat</li>
        <li>fsdfasd</li>
        <li>Wassup</li>
        <li>Yessizer</li>
        <li>WZ</li>
    </ul>

    
    <script src="/js/script.js"></script>
</body>